<span class="label label-default tag ticket <%=ticket[:id]%>">
    <%= link_to ticket[:name], ticket[:url], :target => '_blank' %>
    
    <%= link_to 'x', ticket_path(:id => ticket[:id]), method: :delete, :remote => true, :class => 'delete_tag hidden' %>
    
</span>