<span class="label label-default tag ticket <%=ticket[:id]%>">
    <%= link_to ticket[:name], ticket[:url], :target => '_blank' %>
    
    <%= link_to 'x', controller: :tickets, method: :delete, id: ticket[:id], :remote => true, :class => 'delete_tag hidden' %>
    
</span>