<% if bookmarks.any? %>
    <div class="list-group-item">
        <h5 class="list-group-item-heading">bookmarks</h5>
        <div class="list-group-item-text">
            <ul>
            <% bookmarks.each do |spec| %>
                <% if (@filtered_spec_ids.nil? || @filtered_spec_ids.include?(spec["id"])) %>
                    <li class="hanging-indent"><a href="#<%= spec["id"] %>"><%= spec["description"] %></a></li>
                <% end %>
            <% end %>
            </ul>
        </div>
    </div>
<% end %>