<% if bookmarks.any? %>
    <div class="list-group-item">
        <h4 class="list-group-item-heading">bookmarks</h4>
        <div class="list-group-item-text">
            <% bookmarks.each do |spec| %>
                <% if (@filtered_spec_ids.nil? || @filtered_spec_ids.include?(spec["id"])) %>
                    <p><a href="#<%= spec["id"] %>"><%= spec["description"] %></a></p>
                <% end %>
            <% end %>
        </div>
    </div>
<% end %>