<span class="spec-type">
    <%= spec.spec_type.name %>
</span>

<%= spec.description %>
<span class="tickets">
    <%= render partial: "tickets/show", collection: spec.tickets, as: :ticket %>
</span>
<span class="tags">
    <%= render partial: "tags/show", collection: spec.tags, as: :tag %>
</span>