$("ul.errors").html("");
<% if @spec.errors.any? %>
  <% @spec.errors.full_messages.each do |message| %>
    $("ul.errors").append($("<li />").html("<%= message.html_safe %>"));
  <% end %>
<% else %>
  $("#spec-modal").modal("hide");

  $('#<%=@spec.id %> .spec-words').html("<span class='spec-type'><%= @spec.spec_type.name %></span> <%= @spec.description %>");

<% end %>