<span class="spec"  id="<%=spec.id%>">
    <div class="spec-data">
        <%= render partial: "data", object: spec, as: :spec %>
    </div>
    <div class="spec-buttons collapse editable">
        <%= render partial: "buttons", object: spec, as: :spec %>
    </div>
</span>
