<span class="spec-list s<%=spec["id"]%>">
    <ul>      
        <% if (@filtered_spec_ids.nil? || @filtered_spec_ids.include?(spec["id"])) %>
            <li>
                <%= render partial: "spec", object: spec %>
                <% if (spec["children"]) %>

                    <div class="children collapse in" id="<%= spec["id"] %>children">
                        <%= render partial: "specs", 
                                    collection: spec["children"], 
                                    as: :spec %>
                 
                    </div>
                <% end %>
                
            </li>
        <% end %>
    </ul>
</span>

  

