<span class="spec"  id="<%=spec[:id]%>">
   
    <div class="spec-data">
        <% if @can_edit %>
         <button class="btn btn-xs edit-button glyphicon glyphicon-edit"></button>
        <% end %>
        
        <%= render partial: "data", object: spec, as: :spec %>
    </div>
    <div class="spec-buttons editable collapse">
        <%= render partial: "buttons", object: spec, as: :spec %>
    </div>
</span>
