<p id="notice"><%= notice %></p>

<div class="header">
    <%= render partial: "header" %>
</div>

<div class="full-spec-list">
    
    <% if @specs.blank? || (!@filtered_spec_ids.nil? && @filtered_spec_ids.count == 0) %>
        <p>There are no specs currently in the system</p>
    <% else %>
        <%= render partial: "container", collection: @specs, as: :spec %>
    <% end %>
</div>

<div id="spec-modal" class="modal fade"></div>