<% if @specs.blank? %>
<p>There are no specs currently in the system</p>
<% else %>
<ul id = "specs">
   <% @specs.each do |c| %>
   <li><%= link_to c.description, {:action => 'show', :id => c.id} -%></li>
   <% end %>
</ul>

<% end %>
<p><%= link_to "Add new Spec", {:action => 'new' }%></p>