// Place all the styles related to the specs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.spec-type {
    font-style: italic;
    font-size: x-small;
}

.tag {
    margin:2px;
}

.tag a, a:hover, a:focus {
    text-decoration: none;
    color: white;
    background-color: transparent;
}

.spec-buttons {
    display: none;
}