<p id="notice"><%= notice %></p>

<h1>Tag Types</h1>
<%= render partial: "show", collection: @tag_types, as: :tag_type %>


<br>

<%= link_to 'new tag type', new_tag_type_path %>

<%= link_to 'back', specs_path %>
